.AboutPokemon__hr{
    width: 150px;
    border: var(--gc) solid 1px;
    margin: 1rem 0;
}

.AboutPokemon{
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
    padding: 3%;
}

.AboutPokemon__flex{
    margin-top: 5rem;
}

.animate__fadeIn{
    --animate-duration: 6s;
}


@media (max-width: 950px) {
    .AboutPokemon{
        display: block;
    }
}



  