.CardPokemonEvoluciones{
    display: flex;
    padding:10px 20px;
    background-color: black;
    padding: 3rem;
    margin: 1rem 0;
}

.CardPokemonEvoluciones:hover{
    transition: 0.5s;
    border: 1px solid var(--white);
}


.CardPokemonEvoluciones__name{
    text-transform: uppercase;
}
.CardPokemonEvoluciones__img{
    height:150px;
    width:150px;
    margin:15px 0;
}

.CardPokemonEvoluciones__info{
    margin: 0 30px;
}

.CardPokemonEvoluciones__info>h3{
    margin: 1rem 0;
}

@media (max-width: 600px) {
    .CardPokemonEvoluciones{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}