.CardPokemon{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
    height: 500px;
    max-width: 370px;
    width: 80vw;
    border: 1px solid var(--gc);
}
.contenedor2{
    position: absolute;
    height: 470px;
    width: 87vw;
    max-width: 400px;
    border: 1px solid var(--gc);
}

.CardPokemon__img{
    height:300px;
    width: 90%;
    max-width:300px;
    margin: 0 0 10px
}

.CardPokemon__name{
    margin: 5px 0 5px;  
    text-transform: uppercase;
}

.MyPokemonScreenHeader__blink{
    color: var(--grc);
    animation: blink 2.5s linear infinite;
}


.contenedor1:hover,.contenedor2:hover{
    border: 1px solid var(--white);
}