.CardMovimientosPokemon__movimientos{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    padding: 3px 0 3px 1rem;
    border-bottom:1px solid var(--gc);
}

.CardMovimientosPokemon__btn{
    height:37px;
    background: var(--rc);
}
.CardMovimientosPokemon__btn i{
    color: var(--white);
}