.footer{
    line-height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 90px 40px 0 0 ;
    position: relative;
    bottom: 0;
}

.footer>*>p , .footer>*>a {
    line-height: 1;
    font-size: 12px;
}

.footer>*>a{
    text-decoration: none;
    line-height: 1;
    display: block;
}

.fa-heart{
    color: red;
}

