.MovimientoScreen{
    display: flex;
    margin: 20px 3%;
    flex-direction: column;
    align-items: center;
    min-height:80vh;
}

.MovimientoScreen__sup{
    margin: 40px 0 0 0;
}

.MovimientoScreen__li{
    height:40px;
    width: 120px;
}

.MovimientoScreen__ul{
    margin: 40px 0;
    width:80%;
    border:1px solid var(--gc);
    padding:20px;
    max-width: 350px;

}
.MovimientoScreen__ul__ul{
    display: flex;
    justify-content: space-between;
}

.MovimientoScreen_flexRight{
    display: flex;
    align-items: center;
}

/* @media (max-width: 500px){
    .MovimientoScreen_flexRight{
        display: flex;
        text-align: right;
    }
} */
@media (min-width: 600px) {
    .MovimientoScreen__ul {
        width: 90%;
        padding:20px 5%;
        max-width: 500px;
    }
    .MovimientoScreen__ul__ul li {
        height: 45px;
    }
}

@media (min-width: 950px) {
    .MovimientoScreen__ul {
        width: 90%;
        padding:20px 5%;
        max-width: 900px;
    }
    .MovimientoScreen__ul__ul li {
        height: 60px;
    }
}

.MovimientoScreen__Edit{
    min-width:290px;
    width:70%;
}