.MoviEvoPokemon__select{
    display: flex;
    gap: 40px;
    font-size: 30px;
}

.MoviEvoPokemon__select>li:hover{
    cursor: pointer;
}

.MoviEvoPokemon__active{
    text-decoration: underline;
}


.MoviEvoPokemon__select__EvolucionesPokemon{
    margin: 40px 0;
}