.MoviEvoPokemon__select{
    display: flex;
    gap: 40px;
    font-size: 30px;
}

.MoviEvoPokemon__select>li:hover{
    cursor: pointer;
}

.MoviEvoPokemon__active{
    text-decoration: underline;
}


.MoviEvoPokemon__select__EvolucionesPokemon{
    margin: 40px 0;
}

.MoviEvoPokemon__Movimientos{
    margin: 40px 0;
    width: 100%;

}

.MoviEvoPokemon__Movimientos__bar{
    align-items: center;
    background-color: var(--dc);
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    padding: 0 1rem;
    border-radius: 5px 5px 0 0;
}

.MoviEvoPokemon__Movimientos__bar>li{
    color: black;
    font-weight: 600;
}

.MoviEvoPokemon__Movimientos__list{
    height: 300px;
    width: 100%;
    overflow: scroll;
    overflow-y:visible;
    overflow-x: hidden;
}

.MoviEvoPokemon__Movimientos__barBottom{
    background-color: var(--dc);
    height: 3rem;
    border-radius: 0 0 5px 5px;
}