.MovimientosAllScreen__filter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.MovimientosAllScreen__btn{
    margin: 20px 0;
    width: 400px;
    height: 40px;
}
.MovimientosAllScreen__input {
    font-size: 0.875em;
    width: 400px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 1px solid var(--gc);
    transition: all 0.1s ease-in-out;
    text-align: center;
    color: var(--wc);
}

.MovimientosAllScreen__input:hover {
    border: solid 2px #b3aca7;
}
.MovimientosAllScreen__AddMoveAll{
    margin:20px 3%
}