.nav_principal__ul{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.nav_principal__li{
    font-size: 18px;
    padding:10px 20px;
}

.nav_principal__a{
    text-decoration: none;
}

.nav_principal__btn-music{
    background: none;
    border: none;
    font-size: 25px;
}
.nav_principal{ 
    background-color: var(--dgbg);
}

@media (max-width: 550px){
    .nav_principal{
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 200;
    }

}