.NavPokemonAll{
    display: flex;
    justify-content: center;
}

.NavPokemonAll__input {
    font-size: 0.875em;
    width: 400px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 1px solid var(--gc);
    transition: all 0.1s ease-in-out;
    text-align: center;
    color: var(--wc);
}

.NavPokemonAll__input:hover {
    border: solid 2px var(--white);
}
