.PaginaMoverNav__btn {
    width: 150px;
    height: 30px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    background: transparent;
    font-size: 0.875em;
    border: 2px solid rgba(255, 255, 255, .2);
    color: var(--wc);
    outline: none;
    cursor: pointer;
}

.PaginaMoverNav__btn:hover {
    border: solid 2px var(--dc);
    color: var(--dc);
}