.StatsPokemon__stats{
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    margin: 4rem auto;
}

.StatsPokemon__stats>ul>li{
    margin: 25px 0;
}

.StatsPokemon__stats_left>li{
    font-weight: 600;
}

.StatsPokemon__stats_right>li{
    color: var(--gbg);
    font-weight: 600;
    text-align: right;
}

.StatsPokemon__statBar{
    height: 20px;
    background-color: var(--dc);
    margin: 16px;
    
}

.StatsPokemon__stats_center{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -20px;
}
