*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body{
    background-color: var(--bg-Soft) ;
}

li{
    list-style: none;
}


/* 

p{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

.btn{

} */



