/*IMPORT FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
/*font-family: 'Jost', sans-serif;*/

:root{
    /*COLORS*/    
    --gbg: rgb(197, 197, 197);
    --dgbg: #1d1b19;
    --dc: #987750;
    --gc: #888;
    --wc: #ddd;
    /*color: var(--mc);*/
    
    
    /*FONTS*/



}