/*IMPORT FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500,600,700&display=swap');
/*font-family: 'Jost', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
/*font-family: 'Smooch', cursive;*/

:root{
    /*COLORS*/    
    --gbg: rgb(197, 197, 197); 
    --dgbg: #1d1b19;
    --dc: #987750;
    --gc: #888;
    --wc: #ddd;  
    --grc: rgb(54, 182, 37);  
}